@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // Light
  --clr-bg-body-light: #EBF1F4;
  --clr-bg-primary-light: #FFF;
  --clr-bg-theme-1-light: #2B8851;
  --clr-bg-theme-2-light: #8EE4AF;
  --clr-theme-3-light: #1A3145;
  --clr-theme-4-light: #5CDB95;
  --clr-font-1-light: #FFF;
  --clr-font-1-light: #000;

  // Dark
  --clr-bg-body-dark: #1A3145;
  --clr-bg-primary-dark: #2E3B52;
  --clr-bg-theme-1-dark: #2B8851;
  --clr-bg-theme-2-dark: #8EE4AF;
  --clr-theme-3-dark: #1A3145;
  --clr-theme-4-dark: #5CDB95;
  --clr-font-1-dark: #FFF;
  --clr-font-1-dark: #A6ADBA;
}

.dark {

  background-color: var(--clr-bg-primary-dark);
  color: var(--clr-font-1-dark);
}

.light {
  background-color: var(--clr-bg-primary-light);
  color: var(--clr-font-1-light);
}